<!-- Sección Jumbotron -->
<div class="container text-center">
  <div class="row">
    <div class="jumbotron">
      <h1>Solución para localización y organización de drones</h1>
    </div>
  </div>
</div>
<!-- Fin Sección Jumbotron -->

<!-- Sección de Artículos -->
<div class="container" style="padding: 15px 10px">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Producción de video</h2>
      <figure class="figure">
        <img
          src="assets/imagenes/prodvideo.png"
          class="figure-img img-fluid rounded"
          alt="prodvideo"
        />
      </figure>
      <p>
        Planos de seguimiento, grabaciones en directo, eventos deportivos...
      </p>
      <a href="user" class="btn btn-success">Iniciar</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Empresas</h2>
      <figure class="figure">
        <img
          src="assets/imagenes/empresas.png"
          class="figure-img img-fluid rounded"
          alt="empresas"
        />
      </figure>
      <p>
        Industrial, logística, seguridad, medios de comunicación,revisión de
        infraestructuras...
      </p>
      <a href="user" class="btn btn-success">Iniciar</a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2>Agricultura</h2>
      <figure class="figure">
        <img
          src="assets/imagenes/agricultura.png"
          class="figure-img img-fluid rounded"
          alt="agricultura"
        />
      </figure>

      <p>
        Análisis de suelo, plantación de semillas, control de enfermedades y
        maleza, fumigación de los campos...
      </p>
      <a href="user" class="btn btn-success">Iniciar</a>
    </div>

    <!-- Puedes agregar más articulos ... -->
  </div>
</div>
<!-- Fin Sección de Artículos -->

<!-- Sección de Multimedia -->
<div class="container" style="padding: 15px 10px">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="assets/imagenes/Dronsito.png"
          alt="Lights"
          style="width: 100%"
        />
        <div class="caption">
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <div
          class="embed-responsive embed-responsive-4by3"
          style="padding-bottom: 66.9%"
        >
          <iframe
            class="embed-responsive-item"
            width="560"
            height="235"
            src="https://www.youtube.com/embed/Y1HHBXDL9bg"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="caption"><p>Lorem ipsum...</p></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img
          src="assets/imagenes/Dronsito.png"
          alt="Fjords"
          style="width: 100%"
        />
        <div class="caption">
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
<!-- Sección de Multimedia -->

<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-light">
      <!-- Grid container -->
      <div class="container">
        <!-- Section: Links -->
        <section class="mt-5">
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5">
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Products</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Awards</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Help</a>
              </h6>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!" class="text-white">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
    </div>
</footer>
</div>
<!-- Fin Sección Pie de Página -->
