<div class="container w-75 mt-5">
  <div class="row align-items-strecht">
    <div class="col bg d-none d-log-block col-md-5 col-lg-5 col-xl-6"></div>
    <div class="col p-5 rounded-end">
      <div class="text-center bg-body">
        <img src="assets/imagenes/dronzone.png" width="250px" alt="250px" />

        <h2 class="fw-bold text-center py-5">Bienvenido</h2>

        <form action="#">
          <div class="mb-4">
            <label for="text" class="form-label">Identificador</label>
            <input type="text" class="form-control" name="text" />
          </div>
          <div class="mb-4"></div>
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="password" />
          <div class="mb-4 form-check">
            <input
              type="checkbox"
              name="connected"
              class="form-check-input"
              id=""
            />
            <label for="connected" class="form-check-label"
              >Mantener la sesión iniciada</label
            >
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              Iniciar Sesión
            </button>
          </div>
          <div class="my-3">
            <span><a href="#">Recuperar Contraseña</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container w-100 my-5">
  <div class="row text-center">
    <div class="col-12">Iniciar Sesión</div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-outline-primary w-100 my-1">
        <div class="row align-items-center">
          <div class="col-2 d-none d-md-block">
            <img src="assets/imagenes/Facebook.png" width="32" />
          </div>
          <div class="col-12 col-md-10 text-center">Facebook</div>
        </div>
      </button>
    </div>
    <div class="col">
      <button class="btn btn-outline-danger w-100 my-1">
        <div class="row align-items-center">
          <div class="col-2 d-none d-md-block">
            <img src="assets/imagenes/Google.png" width="32" />
          </div>
          <div class="col-12 col-md-10 text-center">Google</div>
        </div>
      </button>
    </div>
  </div>
</div>
