<table class="table">
  <thead class="custom-header">
    <tr>
      <th class="header-cell">Identificador</th>
      <th class="header-cell">Fabricacion</th>
      <th class="header-cell">Modelo</th>
      <th class="header-cell">Potencia</th>
      <th class="header-cell">Precio</th>
    </tr>
  </thead>
  <tbody class="custom-body">
    <tr *ngFor="let row of TipoDron; let i = index">
      <td>{{ row.id }}</td>
      <td>{{ row.fabricacion }}</td>
      <td>{{ row.modelo }}</td>
      <td>{{ row.potencia }}</td>
      <td>{{ row.precio }}</td>
    </tr>
  </tbody>
</table>