@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

html {
  height: 100%;
  width: 100%;
}
.row {
    --bs-gutter-x: 0;
  }
body {
  height:100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: darkgrey;
  background: linear-gradient(to right, darkgrey, rgb(247, 243, 243))
}

table {
  width: 100%;  
}

.bg-custom {
  background-color:black;
}

.main-container {
    margin-top:50px;
    width: auto;
}
.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none; /* Agrega esta línea para eliminar el contorno de enfoque */
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
